* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: #03312e;
    display: flex;
    flex-direction: column;

}

h3 {
    font-weight: 700;
}

.main-section {
    max-width: 75%;

}

.main-section p {
    font-size: 1em;
}

#navbar a {
    border-bottom: 1px solid #03312e;

}

#main-doc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 350px;
}