* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-weight: 700;

}

.main-section {
    max-width: 75%;
    text-align: justify;
    margin-top: 55px;
}

.main-section p {
    font-size: 1em;

}

#main-doc {
    display: flex;
    flex-direction: column;
    margin-left: 350px;
}

/*-------Video--------*/

video {
    margin: 0px auto;
}

#video {
    padding-top: 50px;
}

/*------Navbar------*/

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: #03312e;
    display: flex;
    flex-direction: column;
    background-color: rgba(232, 229, 229, 0.143);
}

#navbar h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    font-family: 'Pacifico', cursive;
}

.fab {
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 100%;
    margin: auto 0;
    font-size: 4em;
    text-align: center;
    margin-top: 150px;
}

#navbar a {
    color: #03312E;
    padding: 20px 5px 20px 60px;
}

#nav-content {
    margin-top: 40px;
}

#navbar a:hover {
    background-color: #03312E;
    color: white;
}

/*------Media querrys--------*/

@media only screen and (max-width: 1107px) {

    .main-section {
        max-width: 90%;
    }

}

@media only screen and (max-width: 815px) {

    i {
        display: none !important;
    }

    #navbar {
        background-color: white;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
    }

    .nav-link {
        border-bottom: #03312E solid 1px;
    }

    #navbar a {
        padding: 10px;
        margin: 0;
        padding-left: 40px;
    }

    #navbar h1 {
        margin-bottom: 0px;
    }

    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 300px;
        display: flex;
        align-items: center;
        width: 100%;
    }

    .main-section header h3 {
        text-align: center;
    }

    #main-doc section {
        padding-top: 40px;
    }
}

@media only screen and (max-width: 800px) {

    #navbar .fa-instagram {
        display: none;
    }

}